.header {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(0, 196, 10) 0px 1px 2px 1px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    background: rgb(13, 17, 23);
}

.navbar {
    margin-left: 20px;
    top: 4rem;
    display: flex;
    align-items: center;
    z-index: 10;
    font-size: 18px;
}

.link {
    width: auto;
    margin: 0 8px;
    padding: 8px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(186, 187, 189);
    cursor: pointer;
    align-items: center;
}

.link:hover {
    color: white;
}

.logo {
    margin-right: 5vw;
    height: 100%;
}